@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
  }
  
  .search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    font-size: 30px;
    padding: 5px;
    height: 23px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    width: auto;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }

  .importButton {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 25px;;
    font-weight: bold;
    font-size: 30px;
    color: #00B4CC;
    padding: 0.5em;
    border: thin solid grey;
    border-radius: 3px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
   
    width: 95%;
    height: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
  }

  .conteudo_falha{
   
    width: 100%;
   
    
  }

  .descricao{
   
    width: 95%;
    height: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  .resolucao{
   
    width: 95%;
    height: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
